
TylerTesting/.vs/TylerTesting/v16/Server/sqlite3/storage.ide-shm

TylerTesting/.vs/TylerTesting/v16/Server/sqlite3/storage.ide-wal

TylerTesting/TylerTesting/obj/Debug/DesignTimeResolveAssemblyReferences.cache
